{{!< header}}

<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="card mt-4">
        <div class="card-header fs-4 fw-bold">Delete Employee</div>
        <div class="card-body">
                <div class="fw-semibold fs-5" style="color:red">Are you sure you want to delete the following employee?</div>
                
                <span class="fw-semibold">First Name: </span> {{employee.firstName}}<br>
                <span class="fw-semibold">Last Name: </span> {{employee.lastName}}<br>
                <span class="fw-semibold">Department: </span>{{employee.department}}<br>
                <span class="fw-semibold">Start Date: </span> {{employee.startDate}}<br>
                <span class="fw-semibold">Job Title:</span> {{employee.jobTitle}}<br>
                <span class="fw-semibold">Salary: $</span>{{employee.salary}}<br>

                <form action="/delete/{{employee._id}}" method="post" class="mt-3">
                    <button class="btn btn-danger" type="submit">Yes, Delete</button>
                    <a class="btn btn-info" style="background-color:cornflowerblue; color: white" href="/view">Cancel</a>
                </form>
            </div>
        </div>
    </div>   
</body>
</html>
