{{!< header}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<form action="/update/{{employee._id}}" method="post">
    <div class="card mt-4">
            <div class="card-header fs-4 fw-bold">Update Employee</div>

            <div class="card-body">

                <div class="row">
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="firstName">First Name:</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" value="{{employee.firstName}}" required>                        
                    </div>            
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="lastName">Last Name:</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" value="{{employee.lastName}}" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="department">Department:</label>
                        <select class="form-control" id="department" name="department" required>
                            <option value="IT" {{eq employee.department "IT"}}>IT</option>
                            <option value="HR" {{eq employee.department "HR"}}>HR</option>
                            <option value="Finance" {{eq employee.department "Finance"}}>Finance</option>
                            <option value="Sales" {{eq employee.department "Sales"}}>Sales</option>
                            <option value="Operations" {{eq employee.department "Operations"}}>Operations</option>
                            <option value="Legal" {{eq employee.department "Legal"}}>Legal</option>            
                        </select>                        
                    </div>
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="jobTitle">Job Title:</label>
                        <input class="form-control" type="text" id="jobTitle" name="jobTitle" value="{{employee.jobTitle}}" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="startDate">Start Date:</label>
                        <input class="form-control" type="date" id="startDate" name="startDate" value="{{formatDate employee.startDate}}" required>
                    </div>
                    <div class="col-6 pb-3">
                        <label class="form-label fw-semibold" for="salary">Salary:</label>
                        <input class="form-control" type="number" id="salary" name="salary" value="{{employee.salary}}" required>
                    </div>
                </div>

                <button class="btn btn-primary mt-3" type="submit">Update</button>

            </div>
        </div>

    </form>
</body>
</html>
